# Grafana Datasource Provisioning Configuration
# Auto-configures Prometheus as the default datasource for ILP Connector monitoring

apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    # Use docker-compose service name for prometheus
    url: http://prometheus:9090
    isDefault: true
    editable: false
    jsonData:
      httpMethod: POST
      manageAlerts: true
      prometheusType: Prometheus
      prometheusVersion: ">=2.40.0"
